<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <style>
        input::placeholder {
            text-align: center;
        }
    </style>
</head>
<body class="bg-gray-100">

<div class="flex items-center min-h-screen px-5 py-5">
  <div class="w-3/4 max-w-6xl mx-auto flex flex-col sm:flex-row bg-blue-200 p-20 rounded-lg"> <!-- Añade un fondo azul claro y padding al cuadro exterior, y ajusta su ancho a 3/4 del total -->
    <div class="bg-white shadow-md rounded-lg p-12 sm:p-14 w-full sm:w-1/2 mr-3 relative mb-4 sm:mb-0"> <!-- Ajusta el ancho a la mitad para pantallas más grandes y añade margen inferior para móviles -->
      <img src="papelmatic-higiene-profesional-infecciones-salas-espera-recepcion-sanidad-hospitales-1080x675.jpg" alt="Imagen de inicio de sesión" class="absolute inset-0 w-full h-full object-cover shadow-md rounded-lg">
      <div class="relative">
        <h2 class="text-2xl text-center text-black-600">INICIAR SESIÓN</h2>
        <form class="mt-5" id="login-form" action="/login" method="post">
          <div class="mb-4">
              <input type="email" name="correo" class="border-2 rounded-md p-2 w-full" placeholder="CORREO">
          </div>
          <div class="mb-4">
              <input type="password" name="contraseña" class="border-2 rounded-md p-2 w-full" placeholder="CONTRASEÑA">
          </div>
          <div class="text-center">
              <button class="uppercase text-black bg-blue-500 hover:bg-blue-600 focus:ring-blue-400 focus:outline-none focus:ring-2 rounded-lg p-2 w-full" type="submit">
                  INICIAR SESIÓN
              </button>
          </div>
          <div class="text-center mt-4">
            <a href="#" class="text-sm text-black-600 border-b-2 border-blue-500 hover:underline">
              Olvidaste tu contraseña?
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-12 sm:p-14 w-full sm:w-1/2"> <!-- Ajusta el ancho a la mitad para pantallas más grandes -->
      <h2 class="text-2xl text-center text-black-600">CREA TU CUENTA</h2>
        <form class="mt-5">
          <div class="mb-4">
            <p class="text-center text-black-600">¿Aún no tienes tu cuenta?</p>
            <div class="text-center">
              <a href="#" class="text-sm hover:underline text-black-500">
                Creala aqui!
              </a>
            </div>
            <div class="text-center mt-4">
              <button class="uppercase text-black bg-gray-300 hover:bg-gray-300 focus:ring-gray-400 focus:outline-none focus:ring-2 rounded-lg p-2 w-full">
                REGISTRATE AQUÍ
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const loginForm = document.querySelector('#login-form');
    loginForm.addEventListener('submit', function(event) {
        event.preventDefault();

        // Create a FormData object from the login form
        const formData = new FormData(loginForm);

        // Send the FormData object directly to the server
        fetch('/login', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            const token = data.access_token;
            localStorage.setItem('authToken', token);
            console.log(localStorage.getItem('authToken'));
        })
        .catch((error) => {
            console.error('Error:', error);
            if (error.detail){
                error.detail.forEach(err => {
                    console.log(err);
                });
            }
        });
    });
});
  </script>
</body>
</html>