<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <style>
        input::placeholder {
            text-align: center;
        }
    </style>
</head>
<body class="bg-gray-100">

<div class="flex items-center min-h-screen px-5 py-5">
  <div class="w-3/4 max-w-6xl mx-auto flex flex-col sm:flex-row bg-blue-200 p-10 rounded-lg"> <!-- Añade un fondo azul claro y padding al cuadro exterior, y ajusta su ancho a 3/4 del total -->
    <div class="bg-white shadow-md rounded-lg p-12 sm:p-14 w-full sm:w-1/2 mr-3 relative mb-4 sm:mb-0"> <!-- Ajusta el ancho a la mitad para pantallas más grandes y añade margen inferior para móviles -->
      <img src="/static/imagenes/Imagen de inicio de sesión.jpg" alt="Imagen de inicio de sesión" class="absolute inset-0 w-full h-full object-cover shadow-md rounded-lg">
      <div class="relative">
        <h2 class="text-2xl text-center text-black-600">CREA TU CUENTA</h2>
        <form class="mt-5" action="/users/" method="post">
          <div class="mb-4">
              <input type="text" name="nombre" class="border-2 rounded-md p-2 w-full" placeholder="NOMBRE">
          </div>
          <div class="mb-4">
            <input type="text" name="apellido" class="border-2 rounded-md p-2 w-full" placeholder="APELLIDO">
        </div>
          <div class="mb-4">
              <input type="email" name="correo" class="border-2 rounded-md p-2 w-full" placeholder="CORREO">
          </div>
          <div class="mb-4">
              <input type="text" name="numero_telefonico" class="border-2 rounded-md p-2 w-full" placeholder="NUMERO DE TELEFONO">
          </div>
          <div class="mb-4">
              <input type="password" name="contraseña" class="border-2 rounded-md p-2 w-full" placeholder="CONTRASEÑA">
          </div>
          <div class="text-center">
              <button class="uppercase text-black bg-blue-500 hover:bg-blue-600 focus:ring-blue-400 focus:outline-none focus:ring-2 rounded-lg p-2 w-full" type="submit">
                  REGISTRARSE
              </button>
          </div>
      </form>
      </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-12 sm:p-14 w-full sm:w-1/2"> <!-- Ajusta el ancho a la mitad para pantallas más grandes -->
      <h2 class="text-2xl text-center text-black-600">INICIAR SESION</h2>
        <form class="mt-5">
          <div class="mb-4">
            <p class="text-center text-black-600">Ya tienes una cuenta?</p>
            <div class="text-center">
              <a href="#" class="text-sm hover:underline text-black-500">
                INICIA SESION AQUI!
              </a>
            </div>
          <div class="text-center mt-4">
            <a href="/login" class="uppercase text-black bg-blue-500 hover:bg-blue-600 focus:ring-blue-400 focus:outline-none focus:ring-2 rounded-lg p-2 w-full inline-block">
                INICIA SESIÓN
            </a>
          </div>
        </form>
    </div>
  </div>
</div>

</body>
</html>